<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36418845354-qbacp1et2jh3oua45tb0ujc5fvoj5f98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36418845354-qbacp1et2jh3oua45tb0ujc5fvoj5f98</string>
	<key>API_KEY</key>
	<string>AIzaSyD-DK8pcT6EdI5kcaB6ihIxF1S5RR-sV7w</string>
	<key>GCM_SENDER_ID</key>
	<string>36418845354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.mso7nueh.weatherByGpsTest</string>
	<key>PROJECT_ID</key>
	<string>weather-by-gps-test-63b29</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-by-gps-test-63b29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36418845354:ios:d0fe1e6010684b70062ed3</string>
</dict>
</plist>